.sliderComponent {
  width: 100%;
}

.autoSlide {
  width: 208px;
}
.sliderItem {
  width: 160px;
  height: 160px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

