@import "src/assets/styles/variables.scss";

.productItem {
  width: 22%;
  height: 485px;

  .productImg {
    width: 100%;
    height: 326px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .productData {
    height: 100px;
    width: 100%;
    background-color: $white_2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    .productDataName{
      color: $background;
      font-size: 20px;
      font-weight: 600;
    }

    .productDataPrice {
      display: flex;
      h4{
        color: $background;
        font-size: 18px;
      }
      h6{
        color: $background;
      }
    }
  }
}

.yellow_star{
  color: $product_yellow;
}

.rate{
  span{
    font-size: 20px;
  }
}