@import "../../assets/styles/variables.scss";

.aminPage {
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: $white_3;

  .adminLeftSection {
    width: 300px;
    height: 100vh;
    background-color: $white_1;
  }
  .adminRightSection {
    width: calc(100% - 330px);
  }
}

.adminContent {
  width: 100%;
  background-color: $white_3;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.contentView {
  width: 100%;
  height: calc(100vh - 95px);
  padding: 15px;
  background-color: $white_1;
  overflow: hidden;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
}

.addOption {
  width: 350px;
  height: 60px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
  button {
    width: 160px;
    height: 40px;
    background-color: $product_yellow;
    border-radius: 10px;
    color: $background;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.3s;

    &:hover {
      background-color: $hover_yellow;
      color: $white_3;
    }
  }
}
