@import 'src/assets/styles/variables.scss';


.logo {
    width: 20%;
    height: 65px;
    margin-right: 10px;

    .multiSpan {
      font-size: 2.5rem;
      font-weight: 700;
      padding: 11px 8px;
      background-color: $background;
      color: $product_yellow;
    }
    .shopSpan {
      font-size: 2.5rem;
      font-weight: 700;
      padding: 11px 8px;
      background-color: $product_yellow;
    }
  }