@import "../../assets/styles/variables.scss";

.adminPageNavbar {
  width: 100%;
  height: 100vh;
  background-color: $white_3;
  margin-bottom: 30px;
  .logoSection {
    width: 100%;
    height: 65px;
    padding-left: 15px;
    background-color: $background;
    .logo {
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
    }
  }
  .categoriesSection {
    width: 100%;
    height: calc(100vh - 65px);
    background-color: $white_1;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    .categories {
      width: 100%;
      height: 300px;
      margin: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      border: none;
      ul {
        width: 100%;
        height: 200px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        padding: 15px;
        li {
          width: 100%;
          font-size: 18px;
          font-weight: 500;
          border-bottom: 1px solid $text_color;
          a {
            color: $background;
            &:hover {
              color: $product_yellow;
            }
          }
        }
      }
    }
  }
}
