@import '../../assets//styles/variables.scss';
.header {
  width: 100%;
  height: 65px;
  background-color: $background;
  margin-bottom: 30px;

  .container {
    display: flex;
    
    .navbar {
      width: 80%;
      height: 65px;
      display: flex;
      justify-content: space-between;
      align-items: center;

      .navbarPages {
        width: 35%;

        ul {
          display: flex;
          justify-content: space-between;
          list-style: none;
          li{
            a {
              font-size: 1rem;
              font-weight: 400;
              text-decoration: none;
              color: $white_2;
  
              &:hover {
                color: $product_yellow;
              }
            }
          }
        }
      }

      .navbarRightSection{
        width: 35%;
        height: 65px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        .navbarSignIn{
          width: 75%;
          height: 65px;
          display: flex;
          justify-content: center;
          align-items: center;
          ul{
            width: 100%;
            display: flex;
            justify-content: space-between;
            li{
              width: 50%;
              a{
                color: $white_2;
              }
            }
          }
        }
        .navbarIcon {
          width: 25%;
          padding: 0;
          display: flex;
          align-items: center;
          justify-content: center;
         
          a {
            list-style: none;
            text-decoration: none;
            display: flex;
            align-items: center;
  
            .shoppingCartZero {
              font-size: 10px;
              font-weight: 800;
              border: 2px solid $shopping_cart_border;
              border-radius: 50%;
              color: $white_3;
              padding:3px 4.8px 2px 4.8px;
              padding-bottom: 2px;
              box-sizing: border-box;
            }
  
            .shoppingCart {
              font-size: 20px;
              font-weight: 400;
              color: $product_yellow;
              margin-left: 5px;
            }
          }
        }
      }
     
    }
  }
}
