@import "src/assets/styles/index.scss";
.sliderComponent {
  width: 100%;
  min-height: 430px;

  .slick-dots {
    li {
      list-style: none;
      bottom: 45px;
      margin: 0 10px;
      button {
        width: 20px;
        height: 20px;
        border: 1px solid $white_1;
        background: transparent;
        list-style: none;

        &::before {
          display: none;
        }

        &:hover {
          width: 35px;
          background-color: $white_3;
          transition: 0.3s;
        }
      }
    }
  }
}
.slick-slide {
  width: 100%;
}

.sliderContainer {
  height: 430px;
  width: 100%;

  .sliderImg {
    height: 430px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
.sliderText {
  width: 60%;
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  h2 {
    color: $white_1;
    font-size: 3.5rem;
    font-weight: 400;
  }
  p {
    color: $white_1;
    font-size: 18px;
    font-weight: 400;
  }
  button {
    width: 125px;
    height: 40px;
    color: $white_1;
    background-color: transparent;
    border: 1px solid $white_1;
  }
}
